/* h1{
    font-weight: 700;
    font-size: 45px;
    margin: 10px;
    margin-top: 20px;
}
 input{
    width: 100px;
}
.item-container{
 text-align: left;
}

.kg-button{
   min-width: 80px;
}
.kg-row{
    margin: 10px 5px; 
} */